# apps 
alias ls="exa --icons --git"
alias cat="bat"
alias venv="source ./venv/bin/activate"


# folders
alias prog="cd ~/programing"

# commands
alias reload-zsh=". ~/.zshrc"

# configs edit
alias edit-zshrc="vim ~/.zshrc; reload-zsh"
alias edit-aliases="vim ~/.aliases; reload-zsh"
alias edit-paths="vim ~/.paths; reload-zsh"

# unidocs processors 
alias sleep-processors="node ~/programing/sleep-processors stop"
alias start-processors="node ~/programing/sleep-processors start"

alias logs-cron="journalctl -u cronie"
